In [169]:
import pandas as pd

In [170]:
pd.options.display.max_columns = None

In [171]:
column_names = ['user_id', 'id', 'count_months', 'amount', 'month_payment',
       'payed_this_month', 'to_pay', 'planned', 'created_at', 'date']
train = pd.DataFrame(columns=column_names)

In [172]:
train.head()

Empty DataFrame
Columns: [user_id, id, count_months, amount, month_payment, payed_this_month, to_pay, planned, created_at, date]
Index: []

In [173]:
import mysql.connector
from dateutil.relativedelta import relativedelta
from datetime import date
from decimal import Decimal

prediction_month = '2020-04-01'
pred_month = datetime.strptime(prediction_month, "%Y-%m-%d").date()

conn = mysql.connector.connect(host='localhost', 
                port=3306, user='root', passwd='dalekini', 
                db='digiu')

a = prediction_month
while (a>'2020-01-01'):
    b = (datetime.strptime(a, "%Y-%m-%d").date() + relativedelta(months=-1)).strftime("%Y-%m-%d")
    train_query_string = "SELECT distinct cr.user_id as user_id, cr.id as id, cr.count_months as count_months, cr.amount as amount, cr.month_payment as month_payment,inv.amount as payed_this_month, cps.left_amount as to_pay, cps.amount as planned, cr.created_at as created_at, cps.date as date FROM credit cr join credit_payment_schedule cps on cr.id = cps.credit_id left join (select credit_id, sum(amount)as amount from invoice where created_at > '" + b + "' AND created_at < '" + a + "' group by credit_id) inv on cr.id=inv.credit_id WHERE (cr.created_at > '2019-12-01' AND cr.created_at < '" + b + "') and (cps.date > '" + b + "' AND cps.date < '" + a + "' ) and cr.status in (2) and (cr.user_id > 19) and cr.user_id not in (23,24,26,28,33)"
    train_query = pd.read_sql_query(train_query_string, conn)
    train = train.append(train_query)
    a = (datetime.strptime(a, "%Y-%m-%d").date() + relativedelta(months=-1)).strftime("%Y-%m-%d")
train = train.fillna(0)

a = prediction_month
b = (datetime.strptime(a, "%Y-%m-%d").date() + relativedelta(months=+1)).strftime("%Y-%m-%d")
test_query_string = "SELECT distinct cr.user_id as user_id, cr.id as id, cr.count_months as count_months, cr.amount as amount, cr.month_payment as month_payment,inv.amount as payed_this_month, cps.left_amount as to_pay, cps.amount as planned, cr.created_at as created_at, cps.date as date FROM credit cr join credit_payment_schedule cps on cr.id = cps.credit_id left join (select credit_id, sum(amount)as amount from invoice where created_at > '" + a + "' AND created_at < '" + b + "' group by credit_id) inv on cr.id=inv.credit_id WHERE (cr.created_at > '2019-12-01' AND cr.created_at < '" + a + "') and (cps.date > '" + a + "' AND cps.date < '" + b + "' ) and cr.status in (2) and (cr.user_id > 19) and cr.user_id not in (23,24,26,28,33)"
test = pd.read_sql_query(test_query_string, conn)
test = test.fillna(0)

In [174]:
train.head()

,user_id,id,count_months,amount,month_payment,payed_this_month,to_pay,planned,created_at,date
0,196,6,6,1000.0,100.0,100.0,0.0,100.0,2019-12-18 23:55:33,2020-03-18
1,227,20,7,500.0,50.0,2.0,48.0,50.0,2019-12-20 05:40:39,2020-03-19
2,238,22,7,500.0,50.0,0.0,50.0,50.0,2019-12-20 10:45:33,2020-03-20
3,45,24,26,5000.0,167.0,0.0,0.0,167.0,2019-12-20 14:59:29,2020-03-20
4,123,26,28,5000.0,167.0,0.0,167.0,167.0,2019-12-20 16:56:37,2020-03-20

In [175]:
train.shape

(1087, 10)

In [176]:
test.head()

,user_id,id,count_months,amount,month_payment,payed_this_month,to_pay,planned,created_at,date
0,196,6,6,1000.0,100.0,0.0,100.0,100.0,2019-12-18 23:55:33,2020-04-18
1,227,20,7,500.0,50.0,0.0,50.0,50.0,2019-12-20 05:40:39,2020-04-19
2,238,22,7,500.0,50.0,0.0,50.0,50.0,2019-12-20 10:45:33,2020-04-20
3,45,24,26,5000.0,167.0,0.0,167.0,167.0,2019-12-20 14:59:29,2020-04-20
4,123,26,28,5000.0,167.0,0.0,167.0,167.0,2019-12-20 16:56:37,2020-04-20

In [177]:
test.shape

(1038, 10)

In [178]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, r2_score
from catboost import CatBoostRegressor
import seaborn as sns
import matplotlib.pyplot as plt
features = ['count_months', 'amount', 'month_payment']

X_train = train[features]
X_val = test[features]
y_train = train.payed_this_month.astype('int64').copy()
y_val = test.payed_this_month.astype('int64').copy()

model=CatBoostRegressor(iterations=200, depth=5, learning_rate=0.1, loss_function='RMSE')
model.fit(X_train, y_train)
preds = model.predict(X_val)
print(sum(preds))
pred_catboost = sum(preds)

0:	learn: 51.3830717	total: 1ms	remaining: 200ms
1:	learn: 49.3787463	total: 1.94ms	remaining: 192ms
2:	learn: 47.8615872	total: 3.26ms	remaining: 214ms
3:	learn: 46.5705717	total: 4.25ms	remaining: 208ms
4:	learn: 45.4106750	total: 5.46ms	remaining: 213ms
5:	learn: 44.7374980	total: 7.21ms	remaining: 233ms
6:	learn: 43.6734264	total: 8.23ms	remaining: 227ms
7:	learn: 42.6958040	total: 8.94ms	remaining: 214ms
8:	learn: 41.8493627	total: 9.41ms	remaining: 200ms
9:	learn: 41.1932908	total: 9.85ms	remaining: 187ms
10:	learn: 40.6585502	total: 10.3ms	remaining: 177ms
11:	learn: 40.1944842	total: 10.8ms	remaining: 168ms
12:	learn: 39.7657498	total: 11.2ms	remaining: 161ms
13:	learn: 39.2748041	total: 11.6ms	remaining: 154ms
14:	learn: 38.9485927	total: 12.5ms	remaining: 154ms
15:	learn: 38.5399312	total: 13.1ms	remaining: 151ms
16:	learn: 38.2381834	total: 13.9ms	remaining: 150ms
17:	learn: 38.0162390	total: 14.8ms	remaining: 150ms
18:	learn: 37.7386289	total: 15.3ms	remaining: 145ms
19:	learn: 37.4647282	total: 16ms	remaining: 144ms
20:	learn: 37.2689954	total: 17.2ms	remaining: 147ms
21:	learn: 37.1979306	total: 17.7ms	remaining: 143ms
22:	learn: 37.0300539	total: 18.1ms	remaining: 139ms
23:	learn: 36.8965749	total: 18.7ms	remaining: 137ms
24:	learn: 36.7583222	total: 19.2ms	remaining: 134ms
25:	learn: 36.5436832	total: 19.7ms	remaining: 132ms
26:	learn: 36.3512261	total: 20.1ms	remaining: 129ms
27:	learn: 36.1967398	total: 20.6ms	remaining: 127ms
28:	learn: 36.0841863	total: 21.1ms	remaining: 124ms
29:	learn: 36.0040312	total: 21.5ms	remaining: 122ms
30:	learn: 35.9004262	total: 22ms	remaining: 120ms
31:	learn: 35.8469509	total: 22.4ms	remaining: 118ms
32:	learn: 35.7675382	total: 22.8ms	remaining: 115ms
33:	learn: 35.6861980	total: 23.2ms	remaining: 113ms
34:	learn: 35.5544550	total: 23.7ms	remaining: 112ms
35:	learn: 35.4645358	total: 24.1ms	remaining: 110ms
36:	learn: 35.3953258	total: 24.7ms	remaining: 109ms
37:	learn: 35.3504163	total: 25.1ms	remaining: 107ms
38:	learn: 35.3005279	total: 25.6ms	remaining: 106ms
39:	learn: 35.2495599	total: 26.1ms	remaining: 104ms
40:	learn: 35.2024103	total: 26.5ms	remaining: 103ms
41:	learn: 35.1567753	total: 26.9ms	remaining: 101ms
42:	learn: 35.1179794	total: 27.5ms	remaining: 101ms
43:	learn: 35.0805401	total: 28ms	remaining: 99.3ms
44:	learn: 35.0452318	total: 28.5ms	remaining: 98.1ms
45:	learn: 35.0396507	total: 28.8ms	remaining: 96.4ms
46:	learn: 34.9791992	total: 29.2ms	remaining: 95.2ms
47:	learn: 34.9106329	total: 29.7ms	remaining: 94.1ms
48:	learn: 34.8720582	total: 30.2ms	remaining: 92.9ms
49:	learn: 34.8460239	total: 30.6ms	remaining: 91.9ms
50:	learn: 34.7595095	total: 31.1ms	remaining: 90.8ms
51:	learn: 34.7225469	total: 31.5ms	remaining: 89.7ms
52:	learn: 34.6932226	total: 32ms	remaining: 88.8ms
53:	learn: 34.6366219	total: 32.5ms	remaining: 87.9ms
54:	learn: 34.5632304	total: 33ms	remaining: 86.9ms
55:	learn: 34.5318193	total: 33.4ms	remaining: 85.9ms
56:	learn: 34.4895103	total: 33.8ms	remaining: 84.9ms
57:	learn: 34.4400185	total: 34.3ms	remaining: 84ms
58:	learn: 34.4163612	total: 34.8ms	remaining: 83.1ms
59:	learn: 34.3809174	total: 35.2ms	remaining: 82.2ms
60:	learn: 34.3714627	total: 35.6ms	remaining: 81.2ms
61:	learn: 34.3626318	total: 36ms	remaining: 80.1ms
62:	learn: 34.3409205	total: 36.4ms	remaining: 79.2ms
63:	learn: 34.3167007	total: 36.9ms	remaining: 78.3ms
64:	learn: 34.2697159	total: 37.3ms	remaining: 77.5ms
65:	learn: 34.2453690	total: 37.7ms	remaining: 76.6ms
66:	learn: 34.2294357	total: 38.2ms	remaining: 75.9ms
67:	learn: 34.2110547	total: 38.7ms	remaining: 75.1ms
68:	learn: 34.1974405	total: 39.1ms	remaining: 74.3ms
69:	learn: 34.1829778	total: 39.6ms	remaining: 73.5ms
70:	learn: 34.1343955	total: 40ms	remaining: 72.7ms
71:	learn: 34.0958937	total: 40.5ms	remaining: 71.9ms
72:	learn: 34.0796684	total: 41.4ms	remaining: 72ms
73:	learn: 34.0554174	total: 42.4ms	remaining: 72.2ms
74:	learn: 34.0463893	total: 43.3ms	remaining: 72.2ms
75:	learn: 34.0115759	total: 44.2ms	remaining: 72.2ms
76:	learn: 34.0034003	total: 44.7ms	remaining: 71.4ms
77:	learn: 33.9676737	total: 45.1ms	remaining: 70.6ms
78:	learn: 33.9535682	total: 45.6ms	remaining: 69.9ms
79:	learn: 33.9293633	total: 46.1ms	remaining: 69.1ms
80:	learn: 33.9026495	total: 46.5ms	remaining: 68.4ms
81:	learn: 33.8947185	total: 47.1ms	remaining: 67.7ms
82:	learn: 33.8849982	total: 47.5ms	remaining: 67ms
83:	learn: 33.8732226	total: 48ms	remaining: 66.2ms
84:	learn: 33.8669853	total: 48.4ms	remaining: 65.4ms
85:	learn: 33.8478778	total: 48.8ms	remaining: 64.7ms
86:	learn: 33.8404541	total: 49.3ms	remaining: 64ms
87:	learn: 33.8270542	total: 49.7ms	remaining: 63.3ms
88:	learn: 33.8183207	total: 50.2ms	remaining: 62.6ms
89:	learn: 33.7913777	total: 50.7ms	remaining: 62ms
90:	learn: 33.7796696	total: 51.2ms	remaining: 61.3ms
91:	learn: 33.7745642	total: 51.6ms	remaining: 60.6ms
92:	learn: 33.7651192	total: 52.1ms	remaining: 60ms
93:	learn: 33.7604170	total: 52.6ms	remaining: 59.3ms
94:	learn: 33.7563539	total: 53ms	remaining: 58.5ms
95:	learn: 33.7428422	total: 53.5ms	remaining: 57.9ms
96:	learn: 33.7391726	total: 53.9ms	remaining: 57.2ms
97:	learn: 33.7312071	total: 54.3ms	remaining: 56.5ms
98:	learn: 33.7136012	total: 54.8ms	remaining: 55.9ms
99:	learn: 33.7061035	total: 55.2ms	remaining: 55.2ms
100:	learn: 33.6988533	total: 55.7ms	remaining: 54.6ms
101:	learn: 33.6958609	total: 56.1ms	remaining: 53.9ms
102:	learn: 33.6752726	total: 56.5ms	remaining: 53.3ms
103:	learn: 33.6650528	total: 57ms	remaining: 52.6ms
104:	learn: 33.6317882	total: 58.3ms	remaining: 52.7ms
105:	learn: 33.6149136	total: 58.7ms	remaining: 52.1ms
106:	learn: 33.6009911	total: 59.2ms	remaining: 51.5ms
107:	learn: 33.5945573	total: 59.7ms	remaining: 50.8ms
108:	learn: 33.5872629	total: 60.1ms	remaining: 50.2ms
109:	learn: 33.5814166	total: 60.6ms	remaining: 49.6ms
110:	learn: 33.5748428	total: 61ms	remaining: 49ms
111:	learn: 33.5686537	total: 61.5ms	remaining: 48.3ms
112:	learn: 33.5637170	total: 62ms	remaining: 47.7ms
113:	learn: 33.5590180	total: 62.4ms	remaining: 47.1ms
114:	learn: 33.5545660	total: 62.9ms	remaining: 46.5ms
115:	learn: 33.5503289	total: 63.3ms	remaining: 45.9ms
116:	learn: 33.5463132	total: 63.8ms	remaining: 45.2ms
117:	learn: 33.5169892	total: 64.2ms	remaining: 44.6ms
118:	learn: 33.4906857	total: 64.7ms	remaining: 44ms
119:	learn: 33.4795907	total: 65.1ms	remaining: 43.4ms
120:	learn: 33.4758785	total: 65.6ms	remaining: 42.8ms
121:	learn: 33.4715447	total: 66ms	remaining: 42.2ms
122:	learn: 33.4674626	total: 66.5ms	remaining: 41.6ms
123:	learn: 33.4484587	total: 67ms	remaining: 41.1ms
124:	learn: 33.4399838	total: 67.5ms	remaining: 40.5ms
125:	learn: 33.4368753	total: 67.9ms	remaining: 39.9ms
126:	learn: 33.4202655	total: 68.3ms	remaining: 39.3ms
127:	learn: 33.4173170	total: 68.8ms	remaining: 38.7ms
128:	learn: 33.4145162	total: 69.3ms	remaining: 38.1ms
129:	learn: 33.4034990	total: 69.7ms	remaining: 37.5ms
130:	learn: 33.3831804	total: 70.2ms	remaining: 37ms
131:	learn: 33.3799380	total: 70.6ms	remaining: 36.4ms
132:	learn: 33.3698090	total: 71.1ms	remaining: 35.8ms
133:	learn: 33.3614038	total: 71.6ms	remaining: 35.2ms
134:	learn: 33.3589804	total: 72ms	remaining: 34.7ms
135:	learn: 33.3421191	total: 72.5ms	remaining: 34.1ms
136:	learn: 33.3398127	total: 72.9ms	remaining: 33.5ms
137:	learn: 33.3376185	total: 73.3ms	remaining: 33ms
138:	learn: 33.3355367	total: 73.8ms	remaining: 32.4ms
139:	learn: 33.3335587	total: 74.2ms	remaining: 31.8ms
140:	learn: 33.3251691	total: 74.7ms	remaining: 31.2ms
141:	learn: 33.3105945	total: 75.1ms	remaining: 30.7ms
142:	learn: 33.3087114	total: 75.6ms	remaining: 30.1ms
143:	learn: 33.2954628	total: 76.1ms	remaining: 29.6ms
144:	learn: 33.2936710	total: 76.6ms	remaining: 29ms
145:	learn: 33.2860480	total: 77ms	remaining: 28.5ms
146:	learn: 33.2842334	total: 77.5ms	remaining: 27.9ms
147:	learn: 33.2780784	total: 77.9ms	remaining: 27.4ms
148:	learn: 33.2765141	total: 78.4ms	remaining: 26.8ms
149:	learn: 33.2702877	total: 78.8ms	remaining: 26.3ms
150:	learn: 33.2688368	total: 79.3ms	remaining: 25.7ms
151:	learn: 33.2627811	total: 79.7ms	remaining: 25.2ms
152:	learn: 33.2508837	total: 80.2ms	remaining: 24.6ms
153:	learn: 33.2495072	total: 80.6ms	remaining: 24.1ms
154:	learn: 33.2478781	total: 81ms	remaining: 23.5ms
155:	learn: 33.2415604	total: 81.5ms	remaining: 23ms
156:	learn: 33.2403462	total: 81.9ms	remaining: 22.4ms
157:	learn: 33.2347023	total: 82.4ms	remaining: 21.9ms
158:	learn: 33.2244344	total: 82.9ms	remaining: 21.4ms
159:	learn: 33.2233048	total: 83.3ms	remaining: 20.8ms
160:	learn: 33.2222320	total: 83.8ms	remaining: 20.3ms
161:	learn: 33.2212146	total: 84.2ms	remaining: 19.8ms
162:	learn: 33.2202482	total: 84.6ms	remaining: 19.2ms
163:	learn: 33.2193287	total: 85.1ms	remaining: 18.7ms
164:	learn: 33.2184553	total: 85.6ms	remaining: 18.2ms
165:	learn: 33.2176255	total: 86ms	remaining: 17.6ms
166:	learn: 33.2083952	total: 86.5ms	remaining: 17.1ms
167:	learn: 33.2076046	total: 86.9ms	remaining: 16.6ms
168:	learn: 33.2035171	total: 87.4ms	remaining: 16ms
169:	learn: 33.2000275	total: 87.8ms	remaining: 15.5ms
170:	learn: 33.1917018	total: 88.2ms	remaining: 15ms
171:	learn: 33.1842244	total: 88.7ms	remaining: 14.4ms
172:	learn: 33.1802594	total: 89.1ms	remaining: 13.9ms
173:	learn: 33.1765900	total: 89.5ms	remaining: 13.4ms
174:	learn: 33.1736738	total: 90ms	remaining: 12.9ms
175:	learn: 33.1671779	total: 90.5ms	remaining: 12.3ms
176:	learn: 33.1664642	total: 90.9ms	remaining: 11.8ms
177:	learn: 33.1623399	total: 91.8ms	remaining: 11.3ms
178:	learn: 33.1564889	total: 92.4ms	remaining: 10.8ms
179:	learn: 33.1539296	total: 92.8ms	remaining: 10.3ms
180:	learn: 33.1486543	total: 93.3ms	remaining: 9.8ms
181:	learn: 33.1439087	total: 93.9ms	remaining: 9.29ms
182:	learn: 33.1396367	total: 94.3ms	remaining: 8.76ms
183:	learn: 33.1373906	total: 94.8ms	remaining: 8.24ms
184:	learn: 33.1370537	total: 95.2ms	remaining: 7.72ms
185:	learn: 33.1331939	total: 95.6ms	remaining: 7.2ms
186:	learn: 33.1325469	total: 96.1ms	remaining: 6.68ms
187:	learn: 33.1302097	total: 96.6ms	remaining: 6.17ms
188:	learn: 33.1265244	total: 97ms	remaining: 5.65ms
189:	learn: 33.1259400	total: 97.5ms	remaining: 5.13ms
190:	learn: 33.1240021	total: 97.9ms	remaining: 4.61ms
191:	learn: 33.1219981	total: 98.3ms	remaining: 4.1ms
192:	learn: 33.1188185	total: 98.8ms	remaining: 3.58ms
193:	learn: 33.1159536	total: 99.2ms	remaining: 3.07ms
194:	learn: 33.1138187	total: 99.7ms	remaining: 2.56ms
195:	learn: 33.1132776	total: 100ms	remaining: 2.04ms
196:	learn: 33.1127650	total: 101ms	remaining: 1.53ms
197:	learn: 33.1101720	total: 101ms	remaining: 1.02ms
198:	learn: 33.1069523	total: 101ms	remaining: 510us
199:	learn: 33.1064768	total: 102ms	remaining: 0us
25003.53938101941

In [179]:
from sklearn import ensemble
clf = ensemble.RandomForestClassifier(n_estimators=1000)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_val)

print(sum(y_pred))
pred_randforest = sum(y_pred)

25017

In [180]:
#Предскажем деревом решений

In [181]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()
model.fit(X_train, y_train)
proba = model.predict(X_val)

print( sum(proba))
pred_destree = sum(proba)

23544

In [182]:
Planned = sum(test.planned)
print(Planned)

Payed = sum(test.payed_this_month)
print(Payed)

left = sum((test.to_pay).astype(float))
print(left)

prediction = (pred_catboost+pred_destree+pred_randforest)/3
print(prediction)

46885.0
1010.29
36538.5
24521.51312700647

In [194]:
conn = mysql.connector.connect(host='localhost', 
                port=3306, user='root', passwd='dalekini', 
                db='digiu')
query = "INSERT INTO credit_predictions(month, planned, left_to_pay, prediction) VALUES(%s,%s,%s,%s)"
args = (prediction_month[:-3], Decimal(Planned), Decimal(left), Decimal(prediction))

cursor = conn.cursor()
cursor.execute(query, args)
conn.commit()